.root {
  max-width: 1024px;
  min-width: 320px;
  padding-top: env(safe-area-inset-top);
  padding-left: calc(env(safe-area-inset-left) + 8px);
  padding-right: calc(env(safe-area-inset-right) + 8px);
  padding-bottom: env(safe-area-inset-bottom);
  margin: 0 auto;
  box-sizing: border-box;
}
