@keyframes slidein {
  from {
    transform: translateY(300px) rotateX(30deg);
    opacity: 0;
  }

  to {
    transform: translateY(0px) rotateX(0deg);
    opacity: 1;
  }
}

.cardWrapper {
  animation-duration: 1s;
  animation-name: slidein;
  animation-timing-function: ease-out;
}

.card {
  background-color: rgb(247, 223, 30);
  border-radius: 3px;
  color: black;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  width: 300px;
  height: 187.5px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2.2px 2.2px rgba(0, 0, 0, 0.02),
    0 5.3px 5.3px rgba(0, 0, 0, 0.028), 0 10px 10px rgba(0, 0, 0, 0.035),
    0 17.9px 17.9px rgba(0, 0, 0, 0.042), 0 33.4px 33.4px rgba(0, 0, 0, 0.05),
    0 80px 80px rgba(0, 0, 0, 0.07);
  

  img {
    margin-top: auto;
    width: 80px;
    height: 80px;
    border-radius: 3px;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 0;
  }
  p {
    margin-top: 0;
    margin-bottom: 0;
    color: #444;
  }

  div {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  a {
    color: black;
  }

  svg {
    margin-left: 4px;
  }
}

.cardBlock {
  perspective: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  overflow: hidden;
}

.block {
  padding-top: 24px;
  padding-bottom: 40px;
}

a.button {
  display: inline-block;
  margin: 8px 8px 8px 0;
  background-color: #fafafa;
  color: #383a42;
  padding: 8px;
  text-decoration: none;
  border: 1px solid darken(#fafafa, 10%);
  &:hover {
    background-color: darken(#fafafa, 10%);
    border: 1px solid darken(#fafafa, 20%);
  }
  &:active {
    color: lighten(#383a42, 5%);
    background-color: lighten(#fafafa, 10%);
    border: 1px solid darken(#fafafa, 10%);
  }
}

@media (prefers-color-scheme: dark) {
  .card {
    box-shadow: 0 2.2px 2.2px rgba(247, 223, 30, 0.02),
      0 5.3px 5.3px rgba(247, 223, 30, 0.028),
      0 10px 10px rgba(247, 223, 30, 0.035),
      0 17.9px 17.9px rgba(247, 223, 30, 0.042),
      0 33.4px 33.4px rgba(247, 223, 30, 0.05),
      0 80px 80px rgba(247, 223, 30, 0.07);
  }
  a.button {
    background-color: #333333;
    color: #cccccc;
    border: 1px solid darken(#333333, 10%);
    &:hover {
      background-color: darken(#333333, 5%);
      border: 1px solid darken(#333333, 10%);
    }
    &:active {
      color: lighten(#cccccc, 5%);
      background-color: lighten(#333333, 30%);
      border: 1px solid darken(#333333, 10%);
    }
  }
}
