@import url('https://cdn.seungho.kim/fonts/suit/SUIT-Variable.css');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply dark:bg-gray-900;
}

html,
body {
  @apply font-sans font-light text-gray-800 dark:divide-black dark:text-gray-300;
}

code[class*='language-'],
pre[class*='language-'] {
  -webkit-font-feature-settings:
    'liga' on,
    'calt' on;
  font-feature-settings:
    'liga' on,
    'calt' on;
  font-size: 1em;
  @apply font-light font-mono;
}

body.scroll-lock {
  @apply overflow-hidden;
}

article section h1,
article section h2,
article section h3,
article section h4,
article section h5,
article section h6 {
  @apply font-medium mt-2;
}

article section strong {
  @apply font-medium;
}

article section a {
  @apply text-primary-500 hover:underline;
}

article section p {
  @apply mb-2;
}
